*{
    margin: 0; padding: 0; 
    font-family: Arial, Helvetica, sans-serif;
}    
body {
    margin:0;
    padding: 0;
    height: 100vh;
}
.verde{
    background-color: #23b574;
}
.formulario{
    flex-direction: column;
    align-items: center;
    font-size: 20px;
}
.contenedor{
    flex-direction: column;
    justify-content: center;   
    align-items: center; 
}
.registro{
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.inputs {
    flex-direction: column;
    font-size: 20px;
    width: 250px;
    height: 30px;
    padding: 10px 15px;
    border-radius: 30px;
    margin-top: 15px;
    outline: none;
    border: 1px solid 
}
.recuadro{
    align-items: center;
    flex-direction: column;
    margin-top: 25px;
}
.boton{
    border-radius: 25px;
    font-size: 14px;
    height: 40px;
    width: 180px;
    border: 1px;
    margin-top: 15px;
    outline: none;
    color: white;
}
.logo{
    width: 100%;
    max-width: 400px;
    min-width: 300px;
    background-size: cover;
}

.formulario .logo_redes input{
    width: 3em;
    height: auto;
    padding: 0.5em;
}
.formulario .logo_redes {
    width: 10em;
    height: 3em;
    display: flex;
    justify-content: center;
    
}

.flex{
    display: flex;
}
.block{
    display: block;
}

.parrafo {

  display: flex;
  text-align: center;

}

@media screen and (min-width:801px) {
.contenedor{
    width: 100%;
    height: 100vh;
    flex-direction: row;
}
.logo{
    width: 100%;
}
.inputs{
    font-size: 20px;
    width: 250px;
    height: 30px;
}
.formulario{ 
    font-size: 20px;
}

}
header nav{
    display: flex;
    background-color: rgb(135, 204, 56);
    justify-content: space-between;
    padding:20px;
    
}
/*CSS DE PUBLICACION*/
#contenido-post{
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-radius: 15px;
    padding: 3%;
    margin:  3% 30% 3%;
    flex-direction: column;
    background: white;
    
}

#post-publicado{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-style: solid;
    margin: 3% 30% 3%;
    padding: 1%;
    background: white;

}
#caja-post{
    display: flex;
    justify-content: center;
    border-radius: 10px;
    border-style: solid;
    padding: 5%;
    background: white;
    
}
.btn-eliminar{
    margin: 2%;
    
}
#text{
    display: flex;
    justify-content: center;
    background: white;
    
}