 body {
    margin:0;
    padding: 0;
    height: 100vh;
    background-image: url(./imagenes/fondo.jpg);
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
}

/* Vista de login */
.contenedor{
    justify-content: center;
    margin: 5em;
}
.flex{
    display: flex;
}
.logo{
    width: 25%;
    margin: 4em;
    background-size: cover;
}
.formulario{
    width: 50%;
    align-items: center;
    flex-direction: column;
    font-size: 20px;
    background-color: white;
    border-radius: 20px;
    border: 1px solid rgb(153, 147, 147);
}
.parrafo {
    margin: 1em;
    text-align: center;
}
.inputs {
    flex-direction: column;
    font-size: 20px;
    width: 50%;
    padding: 10px 15px;
    border-radius: 30px;
    margin: 15px 2em 0em;
    outline: none;
    border: 1px solid 
}
.boton{
    border-radius: 25px;
    font-size: 14px;
    height: 40px;
    width: 180px;
    border: 1px;
    margin: 15px;
    outline: none;
    color: black;
    font-weight: bold;
    background-color: #23b574;
    cursor: pointer;
}
.boton:hover{
    background-color: rgb(111, 204, 19);
    text-decoration: none;
    cursor: pointer;
}
.formulario .logo_redes input{
    width: 3em;
    height: auto;
    padding: 0.5em;
}
.formulario .logo_redes {
    width: 10em;
    height: 3em;
    display: flex;
    justify-content: center;
}

@media screen and (max-width:600px) {
    .contenedor{
        width: 100%;
        justify-content: center;
        flex-direction: column;
        margin: 0em;
    }
    .formulario{
        width: 90%;
        margin: 0em 1em 1em;
        align-items: center;
        flex-direction: column;
    }
    .logo{
        width: 90%;
        margin: 5px;
        background-size: cover;
    }
    .parrafo {
        margin: 10px;
        text-align: center;
    }
    .inputs{
        font-size: 20px;
        width: 250px;
        height: 25px;
        margin: 5px;
    }
}

/* Vista de Registro */

.registro{
    flex-direction: column;
    align-items: center;
}
.formulario1{
    margin: 2em;
    align-items: center;
    flex-direction: column;
    font-size: 20px;
    background-color: #ffffff;
    border-radius: 20px;
    border: 1px solid rgb(153, 147, 147);
}
.logo1{
    width: 100%;
    align-items: center;
}
@media screen and (max-width:600px) {
    .registro{
        width: 100%;
        justify-content: center;
        margin: 0em;
    }
    .logo1{
        width: 80%;
        align-items: center;
        margin: 1em;
    }
    .formulario1{
        width: 90%;
        margin: 3em 2em 0em;
        align-items: center;
        flex-direction: column;
    }
}






/* Vista de interacciones */
body header{
    background-color:#23b574;
    background-size: 100px;
    background-repeat: no-repeat;
    background-position: center;
    align-items: center;

}
nav{
    margin: 0em 1em 0em;
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
}
header nav{
    display: flex;
}
#cerrarSesion{
    cursor: pointer;
}
 /* MENSAJES DE ERROR*/
 .mensajeerror{
    color: crimson;
    text-align: center;
    font-size: smaller;
    font-style: italic;
    font-weight: bold;

}
.publicaciones{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}
.seccion-perfil{
    width: 30%;
    margin: 3%;
}
.portada{  
    display: block;
    width: 100%;
    height: 110px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.info-user{
    display: flex;
    flex-direction: row;
    margin: 0em;
}
.foto-perfil{
    width: 70px;
    height: 70px;
    border: 1px solid #ccc;
    border-radius: 50%;
}

.fondo{
    background: white;
    width: max-content;
}

.seccion-publicacion{
    width: 50%;
    margin-top: 2%;
}
.form {
    width: 328px;
    border: 1px solid grey;
    padding: 20px;
    border-radius: 3px;
    margin-bottom: 25px;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    background: white;
}
.btn-enviar{
    text-align: end;
}

.user-post{
    margin: 0em;
}
.btn-compartir {
    text-align: end;
    background-color: rgb(155, 224, 66);
    border: 1px solid #ccc;
    border-radius: 15px;
    color:white;
    font-size: 0.85rem;
    width: 82px;
    height: 30px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
}

.btn-tipopost {
    text-align: end;
    background-color:  #23b574;
    border: 1px solid #ccc;
    border-radius: 15px;
    color: black;
    font-size: 0.85rem;
    width: 82px;
    height: 30px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
}
.cabecera-post{  
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

 .btn-eliminar{
    width: 40px;
    margin: 0em ;
    cursor: pointer;
}

.btn-editar{
    width: 40px;
    margin: 0em ;
    cursor: pointer;
}
.btn-guardar{
    width: 40px;
    margin: 0em ;
    cursor: pointer;
}
.hide{
    display: none;
}

@media screen and (max-width:600px) {

    .publicaciones{
        flex-direction: column;
    }
    .profile-section{
        width: 60%;
    }
    .portada{
        display: none;
    }
    .publications-section .form{
         margin: 1em;
    }
    .mensaje{
        margin: auto;
    }
}
 